<footer class="footer fixed-bottom p-3">
  <div class="container">
    <div class="row text-center">
      <span class="copyright col-12 col-lg-6" style="color:#f4f4f4"><p class="mb-0">&copy; {{site.time | date: '%Y'}} by <a href="https://beauwoods.com">Beau Woods</a></p></span>
      <span class="col-12 col-lg-6"><p class="mb-0"><a href="https://github.com/beauwoods/hackervillages.github.io"><i class="fab fa-github"></i> Contribute on GitHub</a></p></span>
    </div>
  </div>
</footer> <!-- /.footer -->
